<div ng-controller="HomeController as u">

    <div class="page-header min-vh-100" style="background-image: url(&#39;https://images.unsplash.com/photo-1486262715619-67b85e0b08d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&#39;);" loading="lazy">
        <span class="mask bg-gradient-dark opacity-5"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
                    <h1 class="text-white mb-4">Maintenance matters!</h1>
                    <p class="text-white opacity-8 lead pe-5 me-5">A well-maintained car is a happy car. Don't delay the maintenance schedule!</p>
                    <div class="buttons">
                        <button type="button" class="btn btn-white mt-4" ng-click="login()">Get Started</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>